/*NAVBAR*/

.navbar {
  background-color: #fc9ce6;
}

.container {
  display: flex;
}

.offcanvas-header{
  margin: auto;
}

/*INICIO*/

.container-inicio {
  display: flex;
  margin: 105px 18px auto 18px;
  justify-content: center;
}

.card {
  padding: 15px;
  margin-right: 15px;
}

.card-img-top {
  height: 18rem;
}

/*FOOTER*/

.redes{
  display: block;
  text-align: center;
  background-color: #fc9ce6;
}

/*OFERTAS*/

.ofertaMartes {
  text-align: center;
  border: dashed 5px #3bfca7;
  border-radius: 5px;
  padding: 5px;
  margin: 105px 15px 15px 15px;
}

strong {
  text-decoration: underline;
}

.ofertaPadre {
  text-align: center;
  border: dashed 5px #3bfca7;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

/*TIENDA - STOCK*/

.row {
  display: flex;
  justify-content: space-around;
}

#lista-stock {
  margin-top: 105px;
}

.card{
  margin: 15px;
}

.card-body {
  text-align: center;
}

a .btn .btn-success{
  display: flex;
  justify-content: center;
}

.table{
  display: flex;
  justify-content: center;
}

.enviar-carrito{
  text-align: center;
  margin-top: 3px;
}